<div class="blog-list" *ngIf="posts$ | async; let posts">
  <div class="container">
    <section class="blog-list-section">
      <h2 class="blog-list-section__title">Últimos artigos</h2>

      @if (posts.data && posts.data.length) {
      <div class="blog-list-content">
        @for (post of posts.data; track $index) {
        <a [routerLink]="['/blog', post.slug]" class="blog-list-item" [title]="post.title">
          <article>
            <div class="blog-list-item__placeholder" style="background-image: url('/images/cropped/{{ post.coverImage.main }}');"></div>
            <div class="blog-list-item__content">
              <h3 class="blog-list-item__content__title">{{ post.title }}</h3>
              <div class="blog-list-item__content__info">
                <div>{{ post.createdAt | date : 'dd/MM/yyyy' }}</div>
              </div>
            </div>
          </article>
        </a>
        }
      </div>
      }
    </section>
  </div>
</div>
