.blog-post {
  padding: 64px 0;

  &__placeholder {
    height: 240px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__published-at {
    color: var(--color-text-muted);
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
}

.blog-post-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 256px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  &__content {
    border-right: 1px solid var(--color-border);
    padding-right: 24px;

    @media screen and (max-width: 1024px) {
      border-bottom: 1px solid var(--color-border);
      border-right: 0;
      padding-bottom: 24px;
      padding-right: 0;
    }
  }

  &__aside__title {
    color: var(--color-text-header);
    font-weight: 700;
    margin-bottom: 12px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 8px;
  }
}

.blog-post-related {
  border-bottom: 1px dashed var(--color-border);
  display: block;
  margin-bottom: 12px;
  padding-bottom: 12px;
  text-decoration: none;

  &:last-child {
    border-bottom: 0;
  }

  article {
    align-items: center;
    display: flex;
    gap: 12px;
  }

  &__placeholder {
    background-color: var(--color-primary-100);
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center center;
  }

  &__title {
    flex: 1;
    font-size: 1.2rem;
    font-weight: normal;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-primary-400);
    }
  }
}
