<div class="blog-post" *ngIf="post$ | async; let post">
  <div class="container">
    @if(post.data) {
    <div class="blog-post-grid">
      <div class="blog-post-grid__content">
        <div [title]="post.data.title" class="blog-post__placeholder" style="background-image: url('/images/{{ post.data.coverImage }}');"></div>
        <h2 class="blog-post__title">{{ post.data.title }}</h2>

        <div class="blog-post__published-at">Publicado em {{ post.data.createdAt | date : 'dd/MM/yyyy' }}</div>

        <div class="topic-details__questions__item__content__answer" [innerHTML]="post.data.content | markdown"></div>

        <h3 class="blog-post__title">Tags</h3>
        <ul>
          <li *ngFor="let tag of post.data.tags">#{{ tag }}</li>
        </ul>
      </div>

      <div class="blog-post-grid__aside">
        <header class="blog-post-grid__aside__title">Veja também</header>

        @for (related of post.data.related; track $index) {
        <a [routerLink]="['/blog', related.slug]" class="blog-post-related" [title]="related.title">
          <article>
            <div class="blog-post-related__placeholder" style="background-image: url('/images/{{ related.coverImage }}');"></div>
            <h3 class="blog-post-related__title">{{ related.title }}</h3>
          </article>
        </a>
        }
      </div>
    </div>
    }
  </div>
</div>
