<section class="landing-welcome">
  <div class="container">
    <div class="landing-welcome__content">
      <div class="landing-welcome__value-proposition">
        <h1 class="landing-welcome__title">Reduza cancelamentos e aumente sua produtividade com agendamentos otimizados</h1>
        <h2 class="landing-welcome__subtitle">Ofereça uma experiência de agendamento <span class="highlight">confiável e sem complicações</span> para seu cliente</h2>
        <a (click)="sendClickDemo()" href="" dsButton="primary">clique e veja como funciona <span class="icon">arrow_outward</span></a>
      </div>

      <div class="landing-welcome__form">
        <div #formSuccess class="landing-welcome__form__success">
          <span class="success"><span class="icon">check</span></span>
          <h3>Sucesso!</h3>
          <p>Em breve, você receberá mais informações sobre o lançamento da nossa plataforma e como pode começar a utilizá-la para otimizar seus agendamentos</p>
        </div>

        <form #formOptIn class="landing-welcome__form__optin" [formGroup]="optInForm">
          <p>
            Estamos construindo a melhor plataforma de agendamento do mercado,<br />
            se inscreva para <span class="highlight">testar gratuitamente</span>
          </p>
          <input type="text" formControlName="name" placeholder="Seu nome" dsInputField />
          <input type="email" formControlName="email" placeholder="Seu e-mail para contato" dsInputField />
          <input type="text" formControlName="pains" placeholder="Conte como sua experiência de agendamento pode melhorar" dsInputField />
          <select formControlName="daily_appointments" dsInputField>
            <option value="">Selecione quantos agendamentos acontecem por dia</option>
            <option value="1-10">Entre 1 e 10</option>
            <option value="10-30">Entre 10 e 30</option>
            <option value="30-50">Entre 30 e 50</option>
            <option value="50+">Mais de 50</option>
          </select>
          <button type="button" dsButton="primary" (click)="onSubmitOptIn()">quero testar grátis</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="landing-features">
  <div class="container">
    <h2>Agendamento simples, rápido e eficiente para o seu negócio</h2>
    <p>
      Estamos desenvolvendo uma solução incrível para transformar a maneira como você <span class="highlight">organiza seus agendamentos</span>. Cadastre-se agora para receber novidades em primeira mão e garantir acesso antecipado às nossas
      funcionalidades
    </p>
    <br />
    <div class="features-list">
      <div class="feature-item">
        <div class="feature-item__header">
          <div class="feature-item__header__icon">
            <span class="icon">check_circle</span>
          </div>
          <h3 class="feature-item__header__title">Organização e Controle Total</h3>
        </div>
        <div class="feature-item__content">
          <p>Mantenha sua agenda organizada e evite confusões. Com nossa plataforma, você visualiza todos os compromissos em um só lugar e gerencia seus horários com facilidade.</p>
        </div>
      </div>
      <div class="feature-item">
        <div class="feature-item__header">
          <div class="feature-item__header__icon">
            <span class="icon">notifications_active</span>
          </div>
          <h3 class="feature-item__header__title">Lembretes Automáticos</h3>
        </div>
        <div class="feature-item__content">
          <p>Reduza o número de faltas e cancelamentos com lembretes automáticos. Notificações via Whatsapp, e-mail e SMS garantem que seus clientes estejam sempre informados e compareçam no horário marcado.</p>
        </div>
      </div>
      <div class="feature-item">
        <div class="feature-item__header">
          <div class="feature-item__header__icon">
            <span class="icon">schedule</span>
          </div>
          <h3 class="feature-item__header__title">Agendamento Online 24/7</h3>
        </div>
        <div class="feature-item__content">
          <p>Deixe que seus clientes façam reservas no horário que preferirem, sem a necessidade de ligar ou esperar. O sistema de agendamento online facilita a vida deles e melhora a sua gestão.</p>
        </div>
      </div>
      <div class="feature-item">
        <div class="feature-item__header">
          <div class="feature-item__header__icon">
            <span class="icon">palette</span>
          </div>
          <h3 class="feature-item__header__title">Experiência Personalizada</h3>
        </div>
        <div class="feature-item__content">
          <p>Ajuste o sistema para atender às suas necessidades. Personalize mensagens de boas-vindas, lembretes e notificações para oferecer um atendimento único e acolhedor.</p>
        </div>
      </div>
      <div class="feature-item">
        <div class="feature-item__header">
          <div class="feature-item__header__icon">
            <span class="icon">event_available</span>
          </div>
          <h3 class="feature-item__header__title">Sincronização com o Seu Calendário</h3>
        </div>
        <div class="feature-item__content">
          <p>Integre a plataforma ao seu calendário pessoal para garantir que todos os compromissos estejam em um só lugar. Mais praticidade e menos confusão na sua rotina.</p>
        </div>
      </div>
      <div class="feature-item">
        <div class="feature-item__header">
          <div class="feature-item__header__icon">
            <span class="icon">description</span>
          </div>
          <h3 class="feature-item__header__title">Relatórios de Desempenho</h3>
        </div>
        <div class="feature-item__content">
          <p>Entenda o fluxo de seus agendamentos com relatórios detalhados. Identifique horários de pico e ajuste sua disponibilidade para maximizar a ocupação.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-can-i-use">
  <div class="container">
    <h2 class="landing-pricing__title">Agendamentos simplificados, para todos os setores</h2>
    <p class="landing-pricing__subtitle">
      Descubra como nossa plataforma pode <span class="highlight">transformar sua rotina</span>. Reduza o tempo perdido com tarefas manuais, ofereça conveniência aos seus clientes e concentre-se no que realmente importa:
      <span class="highlight">fazer seu negócio crescer</span>. A agendaonline.me é ideal para:
    </p>

    <div class="landing-can-i-use__areas">
      @for (area of areas; track $index) {
      <div class="landing-can-i-use__item">
        <div class="landing-can-i-use__item__placeholder">
          <span title="Agenda para {{ area.title }}" class="icon">{{ area.placeholder }}</span>
        </div>
        <h3 class="landing-can-i-use__item__title">{{ area.title }}</h3>
      </div>
      }
    </div>
  </div>
</section>

<!-- <section class="landing-pricing">
  <div class="container">
    <h2 class="landing-pricing__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <p class="landing-pricing__subtitle">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque distinctio, placeat eos id aliquid accusamus repellat quis quaerat maiores perferendis commodi dolorem est, sequi optio porro nesciunt excepturi, voluptatibus rem.
    </p>

    <div class="landing-pricing-list">
      <div class="landing-pricing-item">
        <div class="landing-pricing-item__placeholder">
          <svg class="icon icon-tabler icon-tabler-ballon" fill="none" height="64" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="64" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" stroke="none" />
            <path d="M14 8a2 2 0 0 0 -2 -2" />
            <path d="M6 8a6 6 0 1 1 12 0c0 4.97 -2.686 9 -6 9s-6 -4.03 -6 -9" />
            <path d="M12 17v1a2 2 0 0 1 -2 2h-3a2 2 0 0 0 -2 2" />
          </svg>
        </div>

        <h3 class="landing-pricing-item__title">Free</h3>

        <ul class="landing-pricing-item__features">
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
        </ul>

        <div class="landing-pricing-item__price">
          <div class="landing-pricing-item__price__value">
            <span>R$ 0,00<small>/mês</small></span>
          </div>
          <div class="landing-pricing-item__price__from"></div>
        </div>
      </div>

      <div class="landing-pricing-item">
        <div class="landing-pricing-item__placeholder">
          <svg class="icon icon-tabler icon-tabler-plane" fill="none" height="64" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="64" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" stroke="none" />
            <path d="M16 10h4a2 2 0 0 1 0 4h-4l-4 7h-3l2 -7h-4l-2 2h-3l2 -4l-2 -4h3l2 2h4l-2 -7h3z" />
          </svg>
        </div>

        <h3 class="landing-pricing-item__title">Basic</h3>

        <ul class="landing-pricing-item__features">
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li class="--muted">
            <span class="icon">block</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
        </ul>

        <div class="landing-pricing-item__price">
          <div class="landing-pricing-item__price__value">
            <span>R$ 29,99<small>/mês*</small></span>
          </div>
        </div>
      </div>

      <div class="landing-pricing-item">
        <div class="landing-pricing-item__placeholder">
          <svg class="icon icon-tabler icon-tabler-rocket" fill="none" height="64" width="64" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" stroke="none" />
            <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" />
            <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" />
            <circle cx="15" cy="9" r="1" />
          </svg>
        </div>

        <h3 class="landing-pricing-item__title">Premium</h3>

        <ul class="landing-pricing-item__features">
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
          <li>
            <span class="icon">task_alt</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
          </li>
        </ul>

        <div class="landing-pricing-item__price">
          <div class="landing-pricing-item__price__value">
            <span>R$ 99,99<small>/mês*</small></span>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-pricing-list-custom">
      <div class="landing-pricing-list-custom__placeholder">
        <svg class="icon icon-tabler icon-tabler-building" fill="none" height="64" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="64" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none" stroke="none" />
          <line x1="3" x2="21" y1="21" y2="21" />
          <line x1="9" x2="10" y1="8" y2="8" />
          <line x1="9" x2="10" y1="12" y2="12" />
          <line x1="9" x2="10" y1="16" y2="16" />
          <line x1="14" x2="15" y1="8" y2="8" />
          <line x1="14" x2="15" y1="12" y2="12" />
          <line x1="14" x2="15" y1="16" y2="16" />
          <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" />
        </svg>
      </div>

      <div class="landing-pricing-list-custom__content">
        <h3 class="landing-pricing-list-custom__content__title">Business</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio suscipit architecto vero rerum natus quo ea necessitatibus tempora sed delectus porro totam dolorem mollitia minus odit, ad nihil.</p>
      </div>

      <button dsButton="primary">contact us</button>
    </div>

    <p class="landing-pricing-disclaimer">
      <strong>*</strong>
      <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae facilis quibusdam dolorem sequi debitis doloribus!</span>
    </p>
  </div>
</section> -->

<section class="landing-blog">
  <div class="container">
    <div>
      <h2 class="landing-blog__title">Descubra Dicas e Insights Exclusivos no Nosso Blog</h2>
      <p class="landing-blog__subtitle">
        Aprofunde-se em temas sobre produtividade, melhores práticas de agendamento, dicas para otimizar o atendimento e muito mais. Nosso blog é feito para ajudar você a crescer e alcançar o sucesso com conteúdos práticos e inspiradores.
      </p>
    </div>

    <a title="Dicas para alavancar seu negócio" [routerLink]="['/blog']" dsButton="secondary">leia nosso blog</a>
  </div>
</section>
