<section class="landing-welcome">
  <div class="container">
    <h1 class="landing-welcome__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eaque provident nobis incidunt voluptate dolores.</h1>
    <p class="landing-welcome__subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est possimus ut, nisi consequuntur facilis repudiandae nostrum soluta natus, sunt blanditiis tempore corrupti sequi libero ipsam quis in voluptas facere dolorum?
    </p>

    <div class="landing-welcome__mailing">
      <input type="email" dsInputField />
      <button type="submit" dsButton="secondary">
        <span class="icon">send</span>
      </button>
    </div>
  </div>
</section>
