<header class="main-navigation-header">
  <div class="container main-navigation-header__container">
    <div class="main-navigation-header__logotype">
      <a href="">
        <span>agenda</span>
        <strong>online</strong>
      </a>
    </div>

    <nav class="main-navigation-header__menu">
      <a href="" dsButton="link">blog</a>
      <a href="" dsButton="primary">call to action</a>
    </nav>
  </div>
</header>

<main class="main-navigation">
  <router-outlet />
</main>

<footer class="main-navigation-footer">
  <small>agenda online</small>
</footer>
